.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

td.ant-table-column-sort {
  background: rgba(0, 0, 0, 0) !important;
}

.ant-table.ant-table td h2.table-avatar {
  align-items: center;
  display: inline-flex;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  white-space: nowrap;
}

.ant-table.ant-table td h2 {
  display: inline-block;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.ant-table.ant-table td h2 a {
  color: #333;
}

.ant-table.ant-table td h2 span {
  color: #888;
  display: block;
  font-size: 12px;
  margin-top: 3px;
}

.ant-table-thead > tr,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  font-weight: 500;
  padding: 10px 8px !important;
}

.ant-table.ant-table tr {
  box-shadow: 0 0 3px #e5e5e5;
}

.ant-select-selector {
  height: 36px !important;
}

/* Table*/
.add-btn {
  background-color: #ffae18;
  border: 1px solid #ffae18;
  color: #ffffff;
  float: right;
  font-weight: 500;
  min-width: 140px;
  border-radius: 50px;
}

.add-btn i {
  margin-right: 5px;
}

.add-btn:hover {
  color: #ffffff;
  background-color: #ff8f18;
  border: 1px solid #ff8f18;
}

.ant-table {
  font-size: 0.9375rem !important;
  color: rgb(51, 51, 51) !important;
}

.ant-table-body {
  overflow-x: auto !important;
}

.ant-table-thead > tr > th {
  background-color: rgba(255, 255, 255, 0.85) !important;
  border-bottom: 2px solid #dee2e6 !important;
}

.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tfoot
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tfoot
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tfoot
  > tr
  > td {
  border-right: 0px solid #f0f0f0 !important;
  border-top: 1px solid #dee2e6 !important;
}

td.ant-table-column-sort {
  background: rgba(0, 0, 0, 0) !important;
}

.ant-table.ant-table td h2.table-avatar {
  align-items: center;
  display: inline-flex;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  white-space: nowrap;
}

.ant-table.ant-table td h2 {
  display: inline-block;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.ant-table.ant-table td h2 a {
  color: #333;
}

.ant-table.ant-table td h2 span {
  color: #888;
  display: block;
  font-size: 12px;
  margin-top: 3px;
}

.ant-table-thead > tr,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  font-weight: 500;
  padding: 10px 8px !important;
}

.ant-table.ant-table tr {
  box-shadow: 0 0 3px #e5e5e5;
}

.ant-select-selector {
  height: 36px !important;
}

/* Table*/
.add-btn {
  background-color: #ffae18;
  border: 1px solid #ffae18;
  color: #ffffff;
  float: right;
  font-weight: 500;
  min-width: 140px;
  border-radius: 50px;
}

.add-btn i {
  margin-right: 5px;
}

.add-btn:hover {
  color: #ffffff;
  background-color: #ff8f18;
  border: 1px solid #ff8f18;
}

.registration-container {
  display: flex;
  align-items: center;
}

.image-container {
  flex: 1;
}

.image-container img {
  max-width: 100%;
}

.message-container {
  flex: 1;
  padding-left: 20px;
  /* Adjust as needed for spacing */
}

.profile-img-wrap {
  height: 120px;
  position: absolute;
  width: 120px;
  background: #ffffff;
  overflow: hidden;
}

@media (max-width: 575px) {
  .profile-img-wrap {
    position: relative;
    margin: 0 auto;
  }
}

.profile-img-wrap.edit-img {
  border-radius: 50%;
  margin: 0 auto 30px;
  position: relative;
}

.profile-img-wrap img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.profile-img-wrap .fileupload {
  background: rgba(33, 33, 33, 0.5);
  border: none;
  padding: 3px 10px;
  border-radius: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.profile-img-wrap .fileupload .btn-text {
  color: #ffffff;
}

.profile-img-wrap .fileupload .upload {
  cursor: pointer;
  filter: alpha(opacity=0);
  font-size: 20px;
  opacity: 0;
  margin: 0;
  padding: 5px;
  position: absolute;
  top: -3px;
  right: -3px;
}

.profile-widget {
  background-color: #ffffff;
  border: 1px solid #ededed;
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.profile-widget .profile-img {
  cursor: pointer;
  height: 80px;
  margin: 0 auto;
  position: relative;
  width: 80px;
}

.profile-widget .profile-img .avatar {
  font-size: 24px;
  height: 80px;
  line-height: 80px;
  margin: 0;
  width: 80px;
}

.profile-widget .dropdown.profile-action {
  text-align: right;
  position: absolute;
  top: 10px;
  right: 5px;
}

.profile-widget .dropdown.profile-action .action-icon {
  color: #777;
  font-size: 18px;
  display: inline-block;
}

.profile-widget .dropdown.profile-action .dropdown-toggle::after {
  display: none;
}

.profile-widget .user-name {
  color: #333333;
}

.profile-widget .user-name a {
  color: #333333;
}

.viewsystem {
  margin-bottom: 16px;
  margin-left: 1100px;
}

.sidebar .submenu a {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    span {
      padding-left: 10px;
    }
  }
}

.sidebar .submenu ul {
  padding-left: 40px;
}

.sidebar .submenu ul li a {
  padding-left: 10px;
}

li.submenu a.subdrop {
  background-color: #2e653b;
  color: #fff;
}

.profile-dropdown li::marker {
  content: "";
}

.profile-dropdown ul li .dropdown-menu a {
  padding: 10px;
  line-height: 1;
}

.profile-dropdown .dropdown-menu.show {
  transform: translate(1503px, 65px) !important;
}

.sidebar-left {
}

/* Side bar */

:where(.css-dev-only-do-not-override-1rqnfsa).ant-layout .ant-layout-sider {
  background: #fff;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-dark,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-dark > .ant-menu {
  background: #fff;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-inline.ant-menu-root
  .ant-menu-item
  > *,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-inline.ant-menu-root
  .ant-menu-submenu-title
  > * {
  color: #000;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-dark.ant-menu-inline
  .ant-menu-sub.ant-menu-inline,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-dark
  > .ant-menu.ant-menu-inline
  .ant-menu-sub.ant-menu-inline {
  background: #fff;
}

.demo-logo-vertical {
  padding: 15px;
  margin-bottom: 25px;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-dark .ant-menu-item,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-dark
  > .ant-menu
  .ant-menu-item,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-dark
  .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-dark
  > .ant-menu
  .ant-menu-submenu-title {
  color: #000;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-dark .ant-menu-item,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-dark
  > .ant-menu
  .ant-menu-item,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-dark
  .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-dark
  > .ant-menu
  .ant-menu-submenu-title:hover {
  color: #000;
}

.ant-menu-item-selected .ant-menu-title-content {
  color: #fff !important;
}

.ant-menu-item-selected .ant-menu-item-icon {
  color: #fff !important;
}

/* Side bar */

/* Table*/
.ant-table {
  font-size: 0.9375rem !important;
  color: rgb(51, 51, 51) !important;
}

.ant-table-body {
  overflow-x: auto !important;
}

.ant-table-thead > tr > th {
  background-color: rgba(255, 255, 255, 0.85) !important;
  border-bottom: 2px solid #dee2e6 !important;
}

.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tfoot
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tfoot
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tfoot
  > tr
  > td {
  border-right: 0px solid #f0f0f0 !important;
  border-top: 1px solid #dee2e6 !important;
}

/* .ant-pagination-options-size-changer.ant-select {
  display: none !important;
} */
td.ant-table-column-sort {
  background: rgba(0, 0, 0, 0) !important;
}

.ant-table.ant-table td h2.table-avatar {
  align-items: center;
  display: inline-flex;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  white-space: nowrap;
}

.ant-table.ant-table td h2 {
  display: inline-block;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.ant-table.ant-table td h2 a {
  color: #333;
}

.ant-table.ant-table td h2 span {
  color: #888;
  display: block;
  font-size: 12px;
  margin-top: 3px;
}

.ant-table-thead > tr,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  font-weight: 500;
  padding: 10px 8px !important;
}

.ant-table.ant-table tr {
  box-shadow: 0 0 3px #e5e5e5;
}

.ant-select-selector {
  height: 36px !important;
}

/* Table*/
.add-btn {
  background-color: #ffae18;
  border: 1px solid #ffae18;
  color: #ffffff;
  float: right;
  font-weight: 500;
  min-width: 140px;
  border-radius: 50px;
}

.add-btn i {
  margin-right: 5px;
}

.add-btn:hover {
  color: #ffffff;
  background-color: #ff8f18;
  border: 1px solid #ff8f18;
}

.registration-container {
  display: flex;
  align-items: center;
}

.image-container {
  flex: 1;
}

.image-container img {
  max-width: 100%;
}

.message-container {
  flex: 1;
  padding-left: 20px;
  /* Adjust as needed for spacing */
}

.profile-img-wrap {
  height: 120px;
  position: absolute;
  width: 120px;
  background: #ffffff;
  overflow: hidden;
}

@media (max-width: 575px) {
  .profile-img-wrap {
    position: relative;
    margin: 0 auto;
  }
}

.profile-img-wrap.edit-img {
  border-radius: 50%;
  margin: 0 auto 30px;
  position: relative;
}

.profile-img-wrap img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.profile-img-wrap .fileupload {
  background: rgba(33, 33, 33, 0.5);
  border: none;
  padding: 3px 10px;
  border-radius: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.profile-img-wrap .fileupload .btn-text {
  color: #ffffff;
}

.profile-img-wrap .fileupload .upload {
  cursor: pointer;
  filter: alpha(opacity=0);
  font-size: 20px;
  opacity: 0;
  margin: 0;
  padding: 5px;
  position: absolute;
  top: -3px;
  right: -3px;
}

.profile-widget {
  background-color: #ffffff;
  border: 1px solid #ededed;
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.profile-widget .profile-img {
  cursor: pointer;
  height: 80px;
  margin: 0 auto;
  position: relative;
  width: 80px;
}

.profile-widget .profile-img .avatar {
  font-size: 24px;
  height: 80px;
  line-height: 80px;
  margin: 0;
  width: 80px;
}

.profile-widget .dropdown.profile-action {
  text-align: right;
  position: absolute;
  top: 10px;
  right: 5px;
}

.profile-widget .dropdown.profile-action .action-icon {
  color: #777;
  font-size: 18px;
  display: inline-block;
}

.profile-widget .dropdown.profile-action .dropdown-toggle::after {
  display: none;
}

.profile-widget .user-name {
  color: #333333;
}

.profile-widget .user-name a {
  color: #333333;
}

.viewsystem {
  margin-bottom: 16px;
  margin-left: 1100px;
}

.login_form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 200px;
}

.login_form h1 {
  margin-bottom: 20px;
  text-align: center;
}

.login_form label {
  display: block;
  margin-bottom: 10px;
}

.login_form input[type="text"],
.login_form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login_form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login_form button[type="submit"]:hover {
  background-color: #0056b3;
}

/* ************ home css ********************* */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.company-name {
  font-size: 48px;
  color: #a61ab3;
  /* Orange */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.company-description {
  font-size: 20px;
  line-height: 1.5;
  color: #333;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff5733, #ffc300);
  /* Orange to Yellow */
  opacity: 0.8;
  z-index: -1;
}

/* ******************addCategorybody ****************** */
.page-wrapper {
  padding: 20px;
}

.page-header {
  margin-bottom: 20px;
}

.input-block {
  margin-bottom: 20px;
}

.submit-section {
  margin-top: 20px;
}

.addCategorybody {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover,
.btn-secondary:hover {
  opacity: 0.8;
}

.submit-section button {
  margin-right: 10px;
  /* Adjust the value as needed */
}

/* ***********Add Product********************* */
/* AddProduct.css */

.page-wrapper {
  margin: 20px;
}

.container-fluid {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.page-header {
  margin-bottom: 20px;
}

.input-block {
  margin-bottom: 20px;
}

.input-block label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.input-block select,
.input-block input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-section {
  margin-top: 70px;
}

.submit-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #545b62;
}

/* ****************forgot password******* */

/* forgotPassword.css */

/* Container styling */
.forgot-password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 300px;
}

/* Heading styling */
.forgot-password-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Form styling */
.forgot-password-form {
  display: flex;
  flex-direction: column;
}

/* Label styling */
.forgot-password-label {
  margin-bottom: 8px;
}

/* Input styling */
.forgot-password-input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

/* Button styling */
.forgot-password-button {
  padding: 10px 20px;
  background-color: rgb(99, 14, 124);
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

/* Button hover effect */
.forgot-password-button:hover {
  background-color: #0056b3;
}

.forgotbtn {
  text-decoration: underline;
  text-align: center;
  color: black;
  border-radius: 20px;
  width: 150px;
  margin: auto; /* Centers the button horizontally */
}

